.carousel{
   position: relative;

   h1{
      color: var(--text_strong);
      position: relative;
      font-size: 1.5em;
      margin: 1em 0 0.5em 0.2em;
   }

   .movies-scroller{
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 0em;
      grid-auto-columns: calc(100% / 9);
      scroll-snap-type: inline mandatory;
      scroll-behavior: smooth;
      transition: transform .6s cubic-bezier(.67,.23,.32,.9);
   
      .movie-card{
         display: flex;
         flex-direction: column;
         position: relative;
         padding: .4em;
         border-radius: 3px;
         scroll-snap-align: start;
         transition: filter .4s ease-in-out;
   
         &:hover{
            z-index: 9000;
         }
   
         .movie-bookmark{
            position: absolute;
            font-size: 1.2em;
            top: 5px;
            filter: invert(52%) sepia(72%) saturate(440%) hue-rotate(95deg) brightness(99%) contrast(92%) drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
            left: 7px;
            opacity: 0;
            transition: opacity 0.15s ease-in-out;
            cursor: pointer;
   
            .heart, .heart-full{
               height: 25px;
               width: 25px;
               position: absolute;
               transition: transform 0.15s ease-in-out;
   
               &:hover{
                  transform: scale(1.1);
               }
            }
         }
         
         .movie-poster-wrapper{
            position: relative;
            border-radius: 3px;
   
            .movie-poster{
               width: 100%;
               height: 100%;
               border-radius: 3px;
               box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
               aspect-ratio: 10/15;
               // aspect-ratio: 16/9;
               transition: transform 0.2s cubic-bezier(.57,.21,.69,1.25), border .2s ease-in-out;
               z-index: 30;
               border: 3px solid transparent;
   
               &:hover{
                  transform: scale(1.035);
                  border: 3px solid var(--accent);
               }
            }
   
            .rating-bar{
               display: none;
               height: 3px;
               width: 100%;
               position: absolute;
               bottom: 3px;
               background-color: #969696;
               opacity: 0;
               transition: opacity 0.15s ease-in-out, transform 0.15s ease-in-out;
   
               &:hover{
                  transform: scale(1.05);
                  z-index: 1000;
               }
   
               .rating-score{
                  height: 100%;
                  background: var(--accent);
                  opacity: 0;
                  transition: opacity 0.15s ease-in-out;
                  border-radius: 0 0 0 2px;
               }
            }
            .year{
               position: absolute;
            }
         }
         &:hover{
            .movie-bookmark, .rating-bar, .rating-bar .rating-score{
               opacity: 1;
            }
            .movie-preview{
               transform: scale(1);
               filter: opacity(1);
               transition-delay:1s;
            }
         }
   
         .movie-preview{
            transform: scale(0);
            filter: opacity(0);
            width: calc(100% + 8em);
            height: calc(100% + 2em);
            min-height: 300px;
            background: var(--background_bitlighter);
            border-radius: 4px;
            position: absolute;
            bottom: -1em;
            left: -4em;
            transition: transform 0.4s cubic-bezier(.57,.21,.69,1.25), filter 0.4s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            // border: 3px solid var(--accent);
   
            .movie-backdrop{
               width: 100%;
               aspect-ratio:16/9;
            }
   
            .movie-preview-content{
               padding: .8em 1.2em;
               display: grid;
               grid-template-columns: 75% 25%;
   
               .movie-title{
                  color: var(--text_strong);
                  font-weight: 600;
                  font-size: 1.2rem;
               }
               
               .genre-list{
                  display: flex;
                  flex-direction: row;
                  position: relative;
                  left: -.1em;
   
                  .genre{
                     background: var(--background_lighter);
                     padding: .2em .4em;
                     border-radius: 4px;
                     font-size: .9em;
                     color: var(--text_light);
                     margin: .5em .7em .5em 0;
                     font-weight: 500;
                  }
               }
   
               .info-list{
                  display: flex;
                  flex-direction: row;
                  position: absolute;
                  bottom: 1.2em;
   
                  span{
                     font-weight: 500;
                     font-size: .95em;
                     margin-right: .6em;
                     color: var(--text_light);
                  }
               }
            }
         }
   
         .movie-info{
            height: 3em;
            position: relative;
            bottom: 4px;
            background: transparenh;
            color: var(--text_light);
            font-weight: 500;
            margin-top: 16px;
            text-transform: uppercase;
            text-align: center;
            font-size: 0.9em;
         }
      }
   
      .greyed{
         filter: grayscale(0.8) opacity(0.2);
         pointer-events: none;
      }
   
      .visible{
         filter: none;
         pointer-events: all;
      }
   
   }
}

svg{
   display: none;

   #arrow-next, #arrow-previous{
      path{
         fill: var(--text_strong);
      }
   }
}

.scroll-btn{
   background: none;
   outline: none;
   border: none;
   cursor: pointer;
   position: absolute;
   top: 0;
   z-index: 100;
   height: 100%;
   transition: top .1s ease-in-out;

   svg{
      display: block;
      width: 3rem;
      height: 3rem;
      position: relative;
      top: 2em;
   }
}

#left-scroll-btn{
   left: -6em;
}

#right-scroll-btn{
   right: -6em;
}

@media (min-width: 1551px) and (max-width: 1800px){
   .movies-scroller{
      grid-auto-columns: calc(100% / 8) !important;
   }
}
@media (min-width: 1351px) and (max-width: 1550px){
   .movies-scroller{
      grid-auto-columns: calc(100% / 7) !important;
   }
}
@media (min-width: 1151px) and (max-width: 1350px){
   .movies-scroller{
      grid-auto-columns: calc(100% / 6) !important;
   }
}
@media (min-width: 1001px) and (max-width: 1150px){
   .movies-scroller{
      grid-auto-columns: calc(100% / 5) !important;
   }
}
@media (max-width: 1000px){
   .movies-scroller{
      grid-auto-columns: calc(100% / 4) !important;
   }
}
