@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');


// GENERAL SETTINGS
:root{
   --width: calc(100vw - 10em);
   --text_strong: rgb(44, 44, 44);
   --text_light: rgb(78, 78, 78);
   --accent: #11a252;
   --accent_darker: #11a252;
   --background: #f3f3f3;
   --background_bitlighter:#ebebeb;
   --background_lighter: #dadada;
   --cast_card: gainsboro;
   --lightgray: gainsboro;
   --header: #151515;
   --white: #fafafa;
   --filter_invert: invert(0);
   --filter_studio_invert: grayscale(1) invert(0);
   --filter_black_to_accent_logo: invert(67%) sepia(53%) saturate(639%) hue-rotate(92deg) brightness(94%) contrast(82%);
   --filter_black_to_accent: invert(35%) sepia(72%) saturate(5114%) hue-rotate(139deg) brightness(107%) contrast(87%);
   --dark_mode_toggle_pos: 2px;
   --dark_mode_toggle_color:rgb(219, 219, 219);
   --side_padding: 30px;
}

[data-theme="dark"] { //DARK THEME VARIABLES
   --background: #0e0e0e;
   --background_bitlighter:#171717;
   --background_lighter: #222222;
   --cast_card: #121212;
   --accent: #2bd176;
   --text_light: rgb(167, 167, 167);
   --text_strong: rgb(235, 235, 235);
   --filter_invert: invert(1);
   --filter_studio_invert: grayscale(1) invert(1);
   --filter_black_to_accent: invert(67%) sepia(53%) saturate(639%) hue-rotate(92deg) brightness(94%) contrast(82%);
   --dark_mode_toggle_pos: 20px;
   --dark_mode_toggle_color: rgb(97 97 97);
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   transition: background 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out, filter 0.2s ease-in-out;

}
html {
   overflow-y: scroll; //force scrollbar to prevent page jump
   overflow-x: hidden;
}
main{
   min-height: calc(100vh - 140px); //pages must always be long enough to scroll
}

//UTILITY CLASSES
.text-strong{
   color: var(--text_strong);
}
.text-accent{
   color: var(--accent);
}
.filter-invert{
   filter: var(--filter_invert) !important;
}
.fit-img{
   object-fit: cover;
}

//SCROLLBARS
::-webkit-scrollbar{
   width: 8px;
}
::-webkit-scrollbar-track{
   background-color: rgba(209, 209, 209, 0.2);
   margin-block: .2em;
   width: 0.7em;
   border-radius: 20px;
}
::-webkit-scrollbar-thumb{
   background-color: rgb(182, 182, 182);;
   transition: background-color 0.2s ease-in-out;
   border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
   background-color: rgb(165, 165, 165);;
}

// SPLASH SCREEN
#splash-screen{
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--background);
   height: 100vh;
   width: calc(100vw - 8px);
   opacity: 0;
   animation-name: slideSplash, fadeSplash;
   animation-timing-function: ease-in-out;
   animation-duration: 2.7s, 2.2s;
   transform: translateY(-100vh);
   z-index: 999;
   
   @keyframes slideSplash {
      0% {
         transform: translateY(0);
      }
      80% {
         transform: translateY(0);
      }
      100% {
         transform: translateY(-100vh);
      }
   }
   @keyframes fadeSplash {
      0% {
         opacity: 1;
      }
      80% {
         opacity: 1;
      }
      100% {
         opacity: 0;
      }
   }

   .splash-logo{
      opacity: 0;
      animation-name: fadeLogo;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;

      .splash-icon{
         height: 40px;
         margin-right: 0.3em;
         position: relative;
         top: 0.1em;
         filter: var(--filter_black_to_accent);
      }
      .splash-text{
         font-weight: 500;
         font-size: 2.7em;
         margin-left: 7px;
         color: var(--lightgray);
         position: relative;
         bottom: 4px;
      }
   }
   .splash-subheader{
      margin-top: .2em;
      color: var(--text_light);
      font-size: 1em;
      opacity: 0;
      animation-name: fadeLogo;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
   }
   @keyframes fadeLogo {
      0% {
         opacity: 0;
      }
      20% {
         opacity: 1;
      }
      80% {
         opacity: 1;
      }
      100% {
         opacity: 0;
      }
   }
}

// MAIN CONTENT
body{
   background: var(--background);
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}


header{
   height: 70px;
   background-color: var(--background);
   width: 100%;
   position: relative;
   z-index: 100;

   .header-area{
      display: flex;
      justify-content: space-between;
      max-width: var(--width);
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 0 var(--side_padding);

      .app-logo{
         display: flex;
         align-items: center;
         margin-right: 20px;
      
         .app-icon{
            height: 30px;
            filter: var(--filter_black_to_accent_logo);
         }
         
         .app-text{
            font-weight: 600;
            font-size: 1.7em;
            margin-left: .3em;
            color: var(--text_strong);

            &:hover{
               color: var(--accent);
            }
         }
      }

      #media-switch{
         display: flex;
         flex-direction: row;
         justify-content: space-between;
         position: relative;

         .media-switch-option{
            display: flex;
            flex-direction: column;
            color: var(--text_strong);
            transition: none;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            width: 6rem;
            cursor: pointer;

            .media-switch-icon{
               height: 25px;
               width: 25px;
               filter: var(--filter_invert);
               margin-bottom: .2rem;
            }

            &.active{
               color: var(--accent);

               .media-switch-icon{
                  filter: var(--filter_black_to_accent);
               }
            }

            &:hover{
               background: var(--background_bitlighter);
            }
         }

         #switchbar{
            height: 3px;
            width: 5rem;
            background-color: var(--accent);
            position: absolute;
            bottom: 0;
            left: .5rem;
            border-radius: 3px;
            transition: left .2s cubic-bezier(.57,.21,.69,1.25);
         }
      }

      .right{
         #switchbar{
            left: 6.5rem !important;
         }
      }

      .nav-links{
         display: flex;
         align-items: center;
         height: 100%;
         transform: translateX(0);
         transition: transform 0.2s ease-in-out;

         .dark-mode-toggle{
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            outline: none;
            height: 18px;
            border-radius: 30px;
            width: 36px;
            position: relative;
            background-color: var(--dark_mode_toggle_color);
            box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
            
            &:before{
               content: '';
               width: 14px;
               height: 14px;
               background-color: var(--background);
               position: absolute;
               left: var(--dark_mode_toggle_pos);
               top: 2px;
               border-radius: 30px;
               box-shadow: rgba(50, 50, 93, 0.15) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
               transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out, 
            }
         }

         .nav-link{
            margin-left: 45px;

            a{
               font-weight: 600;
               font-size: 1em;
               color: var(--text_strong);
               position: relative;
               top: 1px;

               &:hover{
                  color: var(--accent);
               }
            }
            #search-icon{
               height: 18px;
               position: relative;
               top: 3px;
               cursor: pointer;

               &:hover{
                  filter: var(--filter_black_to_accent) brightness(1.1);
               }
            }

         }
      }

      #nav-link-mobile{
         margin-left: 40px;
         display: flex;
         align-items: center;
         display: none;

         #menu-icon{
            filter: invert(1);
            position: relative;
            height: 30px;
            cursor: pointer;

            &:hover{
               filter: var(--filter_black_to_accent) brightness(1.1);
            }
         }
      }
   }
}

.home{

   .right-edge{
      height: 100%;
      width: 6em;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 50;
      background: linear-gradient(90deg, rgba(0,0,0,0) 0%, var(--background) 100%);
   }

   .left-edge{
      height: 100%;
      width: 6em;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 50;
      background: linear-gradient(270deg, rgba(0,0,0,0) 0%, var(--background) 100%);
   }

   .movies{
      max-width: var(--width);
      margin: 0 auto;
      padding: 0 var(--side_padding);
      
      .movies-filter{
         height: 110px;
         width: 100%;
         display: flex;
         justify-content: space-between;
         align-items: center;
         position: relative;

         .selection-title{
            font-weight: 600;
            font-size: 1.7em;

            .selected-sort{
               color: var(--accent);
               text-transform: capitalize;
            }

            .selected-type{
               color: var(--text_strong);
            }
         }
         
         .type-selection-wrapper{
            position: absolute;
            left: calc(50% - 130px);

            .type-switch{
               display: flex;
               position: relative;
               height: 36px;
               background-color: var(--background_lighter);
               align-items: center;
               border-radius: 20px;

               .type{
                  font-weight: 500;
                  width: 130px;
                  color: var(--text_strong);
                  transition: color 0.15s ease-in-out;
                  cursor: pointer;
                  display: grid;
                  align-items: center;
                  height: 100%;
                  text-align: center;

                  &:hover{
                     color: var(--accent);
                  }
            
                  &.active{
                     color: white;
                     z-index: 30;
                  }
               }

               &:after{
                  content: "";
                  position: absolute;
                  width: 130px;
                  border-radius: 27.5px;
                  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
                  background-color: var(--accent_darker);
                  height: 36px;
                  z-index: 10;
                  left: 0px;
                  transition: left 0.3s cubic-bezier(.57,.21,.69,1.25);
               }
            }
            .right:after{
               left: 130px;
            }
         }
         .filter-right{
            display: block;
            bottom: 0;
            position: relative;
         }
         .slider-wrapper{
            display: flex;
            justify-content: space-between;
            margin-bottom: 1em;
            align-items: center;
            
            #grid-size-slider{
               width: 8.5em;
               -webkit-appearance: none;
               background: none;
               position: relative;
               top: 1px;
               outline: none;
               transform: rotateY(180deg);

               &::-webkit-slider-thumb {
                  -webkit-appearance: none;
                  appearance: none;
                  width: 20px;
                  border-radius: 10px;
                  height: 12px;
                  background: var(--accent);
                  cursor: pointer;
               }

               &::-webkit-slider-runnable-track{
                  background: var(--background_lighter);
                  border-radius: 20px;
                  transition: background 0.3s ease-in-out;
               }

            }
         }

         .filter-icon{
            height: 25px;
            margin-right: 10px;
            filter: var(--filter_black_to_accent);
         }

         .sort-results{
            display: flex;
            justify-content: space-between;

            .sort-select{
               border: none;
               outline: none;
               font-weight: 400;
               font-size: 1em;
               font-family: 'Montserrat';
               cursor: pointer;
               color: var(--text_strong);
               background: var(--background);
            }
         }
      }
         
      #movies-grid, #shows-grid{
         display: grid;
         grid-auto-flow: row;
         grid-column-gap: 2.2em;
         grid-row-gap: 1.5em;
         width: 100%;
         padding: 10px 0;
         position: relative;
         bottom: 50px;
      }
   }
}

footer{
   height: 70px;
   font-size: 0.8em;
   align-items: center;
   justify-content: center;
   display: flex;
   background-color: transparent;
   color: var(--text_light);
   text-align: center;
   padding: 0 20px;
}



// ENTRY PAGE
@keyframes moveDetailPage {
   0% {
      transform: translateX(-4%);
   }
   25% {
      transform: translateX(-4%);
   }
   100% {
      transform: translateX(0%);
   }
}
@keyframes fadeDetailPage {
   0% {
      opacity: 0;
   }
   35% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.entry-details{
   transform: scale(1);
   animation: moveDetailPage .7s, fadeDetailPage .7s;
   transform: translateX(0%);

   @keyframes fadeBackdrop{
      0% {
         opacity: 0;
      }
      100% {
         opacity: 0.15;
      }
   }

   .backdrop-wrapper{
      position: absolute;
      height: 550px;
      width: calc(100vw - 8px);
      overflow: hidden;
      z-index: -200;
   }
   .backdrop{
      height: 102%;
      opacity: 0.15;
      filter: blur(5px);
      background-size: cover;
      animation: fadeBackdrop;
      animation-duration: 4s;
      background-position-x: center;
   }

   .entry-wrapper{
      display: flex;
      max-width: var(--width);
      padding: 50px var(--side_padding) 50px;
      margin: 0 auto;
      height: 550px;

      .image-wrapper{
         margin-right: 4em;
         display: flex;
         flex-direction: column;
         width: 300px;

         .poster-large{
            height: 450px;
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            border-radius: 3px;
         }
         .tagline{
            margin-top: 0.7em;
            font-style: italic;
            font-size: 0.85em;
            font-weight: 500;
            color: #797979;
            text-align: center;
         }
      }

      .info{
         display: flex;
         flex-direction: column;
         padding: 1em 0;
         flex-grow: 1;
      }

      .main-info{
         display: flex;
         flex-direction: column;
         text-align: left;
         position: relative;
         margin-bottom: 30px;

         .rating-text{
            font-weight: 500;
            font-size: 1.1em;
            color: var(--accent);
            position: absolute;
            right: 0;
            top: 11px;
         }

         h1{
            color: var(--accent);
            font-weight: 600;
            font-size: 2em;
            margin-bottom: .3em;
            max-width: calc(100% - 70px);
            text-align: left;
         }
         .entry-meta-info{
            font-weight: 400;
            font-size: 0.9em;
            color: var(--text_light);
            display: flex;

            span{
               margin-right: 1.2em;
            }
         }
         .entry-description{
            color: var(--text_strong);
            font-weight: 400;
            line-height: 1.6;
            font-size: 1.05em;
            text-align: justify;
         }
         .entry-genre-list{
            display: flex;
            flex-direction: row;
            margin: 1.2em 0;
         
            span{
               margin-right: 1em;
               background: var(--background);
               padding: 5px 8px;
               border-radius: 4px;
               font-size: 0.9em;
               font-weight: 500;
               color: var(--text_light);
            }
         }
      }

      .actions{
         margin-left: 5em;
         display: flex;
         align-items: center;
         position: relative;

         .toggle-favourites{
            position: absolute;
            top: 0;
            right: 0;
            margin: 1.3em 0;

            img{
               height: 35px;
               cursor: pointer;
               filter: var(--filter_black_to_accent);
               position: relative;
               transition: transform 0.15s ease-in-out;

               &:active{
                  transform: scale(1.25);
               }

               &:hover{
                  transform: scale(1.15);
               }
            }

         }

         ul{

            li{
               width: 26px;
               margin-bottom: 1em;

               a{
                  margin-bottom: 1em;


                  .social-media-icon{
                     filter: var(--filter_invert);
                     opacity: 0.4;
                     transition: opacity 0.1s ease-in-out;

                     &:hover{
                        opacity: 0.6;
                     }
                  }
               }
            }
         }
      }
      .production-info{
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: relative;

         .production-talent{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: left;
            
            .crew-list{
               display: flex;
               flex-direction: column;
               font-size: 0.9em;
            
               p{
                  font-weight: 600;
                  margin-bottom: 0.5em;
                  color: var(--text_light);
               }
               span{
                  color: var(--text_light);
                  margin: 0.1em 0;
               }
            }

         }
         
         .studios{
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 15px;

            .studio-logo{
               max-height: 18px;
               margin-right: 30px;
               filter: var(--filter_studio_invert);
               opacity: 0.4;
            }
         }
      }
   }
}
.list-block{
   
   @keyframes fadeCastSection{
      0% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }


   .list-block-wrapper{
      transform: scale(1);
      animation-name: fadeCastSection;
      animation-duration: 2s;
      opacity: 1;
      max-width: var(--width);
      padding: 50px var(--side_padding) 40px;
      margin: 0 auto;

      .list-block-header{
         color: var(--text_strong);
         text-align: left;
         font-size: 1.5em;
         font-weight: 700;
      }

      #cast-list{
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         grid-column-gap: 20px;
         padding: 10px 0;

         &::-webkit-scrollbar{
            height: 6px;
         }

         li .cast-member{
            display: flex;
            flex-direction: row;
            padding: 4px 4px 4px 0px;
            margin: 5px 0 10px;
            width: 100%;
            text-align: center;
            text-align: left;
            border-radius: 5px;
            cursor: pointer;
            transition: transform 0.1s ease-in-out, filter 0.1s ease-in-out;
            
            &:hover{
               background: linear-gradient(90deg, transparent, var(--background_bitlighter));
            }

            img{
               width: 100%;
               border-radius: 3px 3px 0 0;
               filter: grayscale(0.2);
               height: 60px;
               width: 60px;
               border-radius: 55px;
               object-fit: cover;
               margin-right: 16px;
            }

            .cast-member-info{
               display: flex;
               flex-direction: column;

               .real-name{
                  color: var(--text_strong);
                  font-size: 0.95em;
                  font-weight: 500;
                  margin: 0.7em 0 0.4em;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
               }
               .role-name{
                  color: var(--text_light);
                  font-size: 0.95em;
                  font-weight: 400;
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;

               }
            }

         }
      }

      #similar-movies-list{
         display: grid;
         grid-auto-flow: column;
         grid-column-gap: 20px;
         grid-auto-columns: calc(100% / 9 - 18px);
         overflow: hidden;
         margin: 30px 0;
         
         .similar-movie{
            padding: 5px;
            
            img{
               width: 100%;
               transition: transform ease-in-out 0.2s;

               &:hover{
                  transform:scale(1.03);
               }
            }
         }
      }
      
      .cast-toggle{
         display: flex;
         justify-content: flex-end;
         width: 100%;
         position: relative;
         bottom: 17px;

         .cast-show-all{
            color: var(--accent);
            font-weight: 600;
            font-size: 0.85em;
            cursor: pointer;
         }
      }
   }

}

// FAVOURITES
.favourites-wrapper{
   max-width: var(--width);
   margin: 0 auto 30px;
   padding: var(--side_padding);
   animation: fadeIn 0.1s ease-in-out;


   .favourites{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 6em;
      width: 100%;
      position: relative;

      .favourite-movies, .favourite-shows{
         width:  100%;
      }

      @keyframes fadeIn {
         0% {
            opacity: 0;
         }
         100% {
            opacity: 1;
         }
      }
      
      .favourite-movies, .favourite-shows{

         .favourites-header{
            text-align: left;
            color: var(--accent);
            font-weight: 600;
            font-size: 1.7em;
            margin-bottom: 20px;
         }

         ul{

            li{
               position: relative;

               a{

                  .favourite-entry{
                     height: 110px;
                     background-color: gray;
                     margin-bottom: 10px;
                     transition: none;
                     border-radius: 3px;
                     background-size: 101% !important;
                     background-position-x: center !important;
                     position: relative;
                     transform: scale(1.00);
                     transition: background-size 0.1s linear;
                     box-shadow: rgb(0 0 0 / 20%) 0px 2px 8px 0px;

                     &:hover{
                        background-size: 103% !important;

                        .favourite-name{
                           // color: var(--accent) !important;
                        }
                     }

                     .favourite-content{
                        height: 100%;
                        width: 100%;
                        backdrop-filter: blur(0px);
                                             
                        .favourite-info{
                           display: flex;
                           flex-direction: column;
                           justify-content: center;
                           text-align: left;
                           padding-left: 20px;
                           height: 100%;
                           left: 0;
                           width: 100%;
                           position: relative;
                           bottom: 5px;

                           .favourite-name{
                              color: var(--text_strong);
                              font-size: 1.3em;
                              font-weight: 600;
                              margin-bottom: 5px;
                              position: relative;;
                              transition: left 0.1s ease-in-out;
                              left: 0px;
                           }

                           span{
                              font-weight: 500;
                              color: var(--text_light);
                              font-size: .95em;
                           }
                           .favourite-genre-list{
                              margin-top: 10px;
                              right: 5px;
                              font-weight: 500;
                              font-size: 0.85em;
                              position: absolute;
                              bottom: 4px;
                              left: 20px;

                              span{
                                 margin-right: 8px;
                                 padding: 1px 4px;
                                 background: rgba(5, 5, 5, 0.1);
                                 color: var(--text_light);
                                 border-radius: 4px;
                              }
                           }
                        }

                     }
                  }
               }

               .remove-favourite{
                  height: 24px !important;
                  position: absolute;
                  top: 1px;
                  right: 0;
                  height: 100%;
                  cursor: pointer;

                  span{
                     padding: 3px;
                     color: white;
                     font-size: 0.9em;
                     border-radius: 0 3px 0 3px;
                     
                     &:hover{
                        transform: scale(1.1);
                     }
                  }
               }
            }
         }
         
         .no-favourites{
            text-align: left;
            color: var(--text_light);
            font-size: 1.1em;
            line-height: 1.4;
         }
      }
   }
}

//SEARCH PAGE
@keyframes slideFromTop{
   0%{
      transform: translateY(-20px);
   }
   100%{
      transform: translateY(0%);
   }
}

.search-action{
   background: var(--background_lighter);
   transform: translateY(0%);
   animation: slideFromTop 0.2s ease-in-out, fadeCastSection 0.2s ease-in-out;

   .search-wrapper{
      max-width: var(--width);
      padding: 0 var(--side_padding);
      height: 70px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2{
         color: var(--text_strong);
         font-weight: 600;
         font-size: 1.4em;
      }

      .searchbar{
         width: 350px;
         height: 40px;
         background-color: var(--background);
         border-radius:50px;
         display: flex;

         #searchbar-input{
            border: none;
            outline: none;
            background: none;
            height: 100%;
            padding-left: 25px;
            font-size: 1em;
            font-weight: 500;
            font-family: Montserrat, sans-serif;
            color: var(--text_strong);
            width: calc(100% - 50px);
            margin-right: 10px;
         }

         #searchbar-icon{
            height: 20px;
            position: relative;
            top: 10px;
            cursor: pointer;
         }
      }
   }
}
.search-results{
   max-width: var(--width);
   padding: 0 var(--side_padding);
   height: 100px;
   margin: 0 auto;

   .search-results-grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
      grid-template-rows: auto;
      grid-row-gap: 1.5em;
      grid-column-gap: 2em;
      margin-top: 30px;

      .result-card{

         a{
            display: flex;
            border-radius: 3px;
            height: 120px;
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            transform: scale(1.0);
            transition: transform 0.1s linear;


            .result-poster-wrapper{


               .result-poster{
                  height: 120px;
                  aspect-ratio: 10/15;
                  object-fit: cover;
                  border-bottom-left-radius: 3px;
                  border-top-left-radius: 3px;
               }
            }
            .result-info{
               display: flex;
               justify-content: space-between;
               flex-direction: column;
               position: relative;
               width: 100%;
               background: var(--background_bitlighter);
               border-bottom-right-radius: 3px;
               border-top-right-radius: 3px;


               .name{
                  background-color: var(--background_lighter);
                  color: var(--text_strong);
                  height: 70px;
                  font-weight: 500;
                  display: flex;
                  align-items: center;
                  padding: 0 45px 0 20px;
                  border-top-right-radius: 3px;
               }

               .rating{
                  padding: 0 15px 0 20px;
                  color: var(--accent);
                  position: absolute;
                  right: 0;
                  font-size: 0.9em;
                  top: 27px;
                  font-weight: 600;
               }

               .heart-full, .heart{
                  filter: var(--filter_black_to_accent);
                  height: 22px;
                  position: absolute;
                  right: 13px;
                  top: 34px;
               }

               .meta-info{
                  display: flex;
                  align-items: center;
                  padding: 0 15px 0 20px;
                  justify-content: space-between;
                  height: 40px;
               
                  span{
                     color: var(--text_light);
                     text-transform: uppercase;
                     font-weight: 500;
                     font-size: 0.8em;
                  }
               }
            }

            &:hover{
               transform: scale(1.03);
            }
         }

      }

   }
}

//ABOUT PAGE
.about-wrapper{
   padding: var(--side_padding);
   margin: 0 auto;
   max-width: var(--width);
   animation: fadeIn 0.1s ease-in-out;

   h1{
      color: var(--accent);
      margin-bottom: 15px;
      font-weight: 600;
      font-size: 1.7em;
   }
   p{
      color: var(--text_strong);
      line-height: 1.5;
   }
   #movie-db-logo{
      height: 45px;
      margin-top: 10px;
   }
}

//PERSON PAGE
.person-wrapper{
   max-width: var(--width);
   margin: 0 auto;
   padding: var(--side_padding);
   
   .person-info{
      display: flex;
      flex-direction: row;

      .left-container{
         margin-right: 50px;

         .poster-large{
            height: 400px;
            margin-bottom: 20px;
            border-radius: 4px;
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
         }

         .personal-info-box{
            background: var(--background_bitlighter);
            border-radius: 4px;
            padding: 20px 25px 15px 25px;
            border: 1px solid var(--background_lighter);

            .personal-info-header{
               color: var(--text_strong);
               margin-bottom: 20px;
               font-size: 1.3em;
               font-weight: 600;
            }

            .personal-info{
               margin: 16px 0;

               .personal-info-type{
                  color: var(--text_strong);
                  font-weight: 500;
                  margin-bottom: 3px;
                  font-size: 0.95em;
               }

               span{
                  color: var(--text_light);
                  font-weight: 400;
                  font-size: 0.95em;
               }
            }
         }
      }

      .right-container{
         display: flex;
         flex-direction: column;

         .name{
            color: var(--accent);
            font-weight: 600;
            font-size: 2em;
            margin-bottom: 20px;
         }
         
         #biography{
            color: var(--text_light);
            line-height: 1.5;
            font-size: 1em;
            margin-bottom: 60px;
            text-align: justify;
         }

         #show-more{
            position: relative;
            bottom: 50px;
            z-index: 20;
            color: var(--accent);
            font-size: 0.9em;
            cursor: pointer;
         }

         .credits{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 50px;

            .movie-credits, .tv-credits{
               border: 2px solid var(--background_lighter);
               border-radius: 4px;
               height: 500px;
               width: 100%;
               position: relative;
               padding: 20px 25px;

               .credit-header{
                  text-align: center;
                  color: var(--text_light);
                  position: absolute;
                  background: var(--background);
                  top: -15px;
                  left: 4px;
                  width: min-content;
                  white-space: pre;
                  padding: 0 20px;
                  font-weight: 600;
                  font-size: 1.25em;
               }
               .credit-block{
                  overflow-y: scroll;
                  height: 100%;
                  width: 100%;

                  .credit{
                     display: flex;
                     flex-direction: row;
                     margin: 12px 0;
                     
                     .credit-year{
                        width: 60px;
                        color: var(--text_light);
                        align-items: center;
                        display: flex;
                     }
                     
                     .credit-info{
                        display: flex;
                        flex-direction: column;
               
                        .credit-title{
                           font-weight: 500;
                           color: var(--text_strong);
                           margin-bottom: 3px;
                        }

                        .credit-role{
                           color: var(--text_light);
                           font-weight: 400;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

