@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600&display=swap');


// GENERAL SETTINGS
:root{
   --width: 1600px;
   --text_strong: rgb(44, 44, 44);
   --text_light: rgb(78, 78, 78);
   --accent: #11a252;
   --accent_darker: #11a252;
   --background: #f3f3f3;
   --background_lighter: #dadada;
   --cast_card: gainsboro;
   --header: #151515;
   --white: #fafafa;
   --filter_invert: invert(0);
   --filter_studio_invert: grayscale(1) invert(0);
   --filter_black_to_accent: invert(35%) sepia(72%) saturate(5114%) hue-rotate(139deg) brightness(107%) contrast(87%);
   --dark_mode_toggle_pos: 4px;
   --side_padding: 30px;
}

[data-theme="dark"] { //DARK THEME VARIABLES
   --background: #0e0e0e;
   --background_lighter: #222222;
   --cast_card: #121212;
   --accent: #2bd176;
   --text_light: rgb(167, 167, 167);
   --text_strong: rgb(235, 235, 235);
   --filter_invert: invert(1);
   --filter_studio_invert: grayscale(1) invert(1);
   --filter_black_to_accent: invert(67%) sepia(53%) saturate(639%) hue-rotate(92deg) brightness(94%) contrast(82%);
   --dark_mode_toggle_pos: 28px;
}

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   // scroll-behavior: smooth;
   transition: background 0.25s ease-in-out, border-color 0.25s ease-in-out, color 0.15s ease-in-out, filter 0.25s ease-in-out;

}
html {
   overflow-y: scroll; //force scrollbar to prevent page jump
}
main{
   min-height: calc(100vh - 140px); //pages must always be long enough to scroll
}

//UTILITY CLASSES
.text-strong{
   color: var(--text_strong);
}
.text-accent{
   color: var(--accent);
}
.filter-invert{
   filter: var(--filter_invert) !important;
}
.fit-img{
   object-fit: cover;
}

//SCROLLBARS
::-webkit-scrollbar{
   width: 8px;
}
::-webkit-scrollbar-track{
   background-color: rgba(209, 209, 209, 0.2);
   margin-block: .2em;
   width: 0.7em;
   border-radius: 20px;
}
::-webkit-scrollbar-thumb{
   background-color: rgb(182, 182, 182);;
   transition: background-color 0.2s ease-in-out;
   border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
   background-color: rgb(165, 165, 165);;
}

// SPLASH SCREEN
#splash-screen{
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: var(--background);
   height: 100vh;
   width: calc(100vw - 8px);
   opacity: 0;
   animation-name: slideSplash, fadeSplash;
   animation-timing-function: ease-in-out;
   animation-duration: 2.7s, 2.2s;
   transform: translateY(-100vh);
   z-index: 999;
   
   @keyframes slideSplash {
      0% {
         transform: translateY(0);
      }
      80% {
         transform: translateY(0);
      }
      100% {
         transform: translateY(-100vh);
      }
   }
   @keyframes fadeSplash {
      0% {
         opacity: 1;
      }
      80% {
         opacity: 1;
      }
      100% {
         opacity: 0;
      }
   }

   .splash-logo{
      opacity: 0;
      animation-name: fadeLogo;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;

      .splash-icon{
         height: 2.8em;
         margin-right: .5em;
         position: relative;
         top: 0.1em;
         filter: var(--filter_black_to_accent);
      }
      .splash-text{
         font-size: 4em;
         color: var(--accent);
         font-weight: 600;
      }
   }
   .splash-subheader{
      margin-top: .2em;
      color: var(--text_light);
      font-size: 1.1em;
      opacity: 0;
      animation-name: fadeLogo;
      animation-timing-function: ease-in-out;
      animation-duration: 2s;
   }
   @keyframes fadeLogo {
      0% {
         opacity: 0;
      }
      20% {
         opacity: 1;
      }
      80% {
         opacity: 1;
      }
      100% {
         opacity: 0;
      }
   }
}

// MAIN CONTENT
body{
   background: var(--background);
   font-family: 'Montserrat', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

#app {
   
   header{
      height: 70px;
      background-color: var(--header);
      width: 100%;
      position: relative;
      z-index: 100;

      .header-area{
         display: flex;
         justify-content: space-between;
         max-width: var(--width);
         height: 100%;
         width: 100%;
         margin: 0 auto;
         padding: 0 var(--side_padding);

         .app-logo{
            display: flex;
            align-items: center;
            margin-right: 20px;
         
            .app-icon{
               height: 30px;
               filter: var(--filter_black_to_accent);
            }
            
            .app-text{
               font-weight: 600;
               font-size: 1.7em;
               margin-left: .3em;
               color: var(--accent);
            }
         }

         .nav-links{
            display: flex;
            align-items: center;
            height: 100%;

            .dark-mode-toggle{
               border: 0;
               box-sizing: border-box;
               cursor: pointer;
               height: 24px;
               border-radius: 30px;
               width: 50px;
               position: relative;
               background-color: var(--text_light);
               box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
               
               &:before{
                  content: '';
                  width: 18px;
                  height: 18px;
                  background-color: var(--background_lighter);
                  position: absolute;
                  left: var(--dark_mode_toggle_pos);
                  top: 3px;
                  border-radius: 30px;
                  box-shadow: rgba(50, 50, 93, 0.15) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 3px -1px;
                  transition: left 0.15s ease-in-out, background-color 0.15s ease-in-out, 
               }
            }

            .nav-link{
               margin-left: 40px;

               a{
                  font-weight: 500;
                  font-size: 1.1em;
                  color: var(--white);
                  position: relative;
                  top: 1px;

                  &:hover{
                     color: white;
                  }
               }
               #search-icon{
                  height: 20px;
                  position: relative;
                  top: 3px;
                  filter: brightness(2);
                  cursor: pointer;

                  &:hover{
                     filter: brightness(3);
                  }
               }
            }
         }
      }
   }

   .home{

      .movies{
         max-width: var(--width);
         margin: 0 auto;
         padding: 0 var(--side_padding);
         
         .movies-filter{
            height: 110px;
            width: 100%;
            padding: 60px 0 25px;           
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;

            .selection-title{
               font-weight: 600;
               font-size: 1.7em;

               .selected-sort{
                  color: var(--accent);
                  text-transform: capitalize;
               }

               .selected-type{
                  color: var(--text_strong);
               }
            }
            
            .type-selection-wrapper{
               position: absolute;
               left: calc(50% - 130px);

               .type-switch{
                  display: flex;
                  position: relative;
                  height: 36px;
                  background-color: var(--background_lighter);
                  align-items: center;
                  border-radius: 20px;

                  .type{
                     font-weight: 500;
                     width: 130px;
                     color: var(--text_strong);
                     transition: color 0.15s ease-in-out;
                     cursor: pointer;
                     display: grid;
                     align-items: center;
                     height: 100%;
                     text-align: center;

                     &:hover{
                        color: var(--accent);
                     }
               
                     &.active{
                        color: white;
                        z-index: 30;
                     }
                  }

                  &:after{
                     content: "";
                     position: absolute;
                     width: 130px;
                     border-radius: 27.5px;
                     box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .1);
                     background-color: var(--accent_darker);
                     height: 36px;
                     z-index: 10;
                     left: 0px;
                     transition: left 0.3s cubic-bezier(.57,.21,.69,1.25);
                  }
               }
               .right:after{
                  left: 130px;
               }
            }
            .slider-wrapper{
               display: flex;
               justify-content: space-between;
               margin-bottom: 1em;
               align-items: center;
               
               #grid-size-slider{
                  width: 8.5em;
                  -webkit-appearance: none;
                  background: none;
                  position: relative;
                  top: 1px;
                  outline: none;
                  transform: rotateY(180deg);

                  &::-webkit-slider-thumb {
                     -webkit-appearance: none;
                     appearance: none;
                     width: 20px;
                     border-radius: 10px;
                     height: 12px;
                     background: var(--accent);
                     cursor: pointer;
                  }

                  &::-webkit-slider-runnable-track{
                     background: var(--background_lighter);
                     border-radius: 20px;
                     transition: background 0.3s ease-in-out;
                  }

               }
            }

            .filter-icon{
               height: 25px;
               margin-right: 10px;
               filter: var(--filter_black_to_accent);
            }

            .sort-results{
               display: flex;
               justify-content: space-between;

               .sort-select{
                  border: none;
                  outline: none;
                  font-weight: 400;
                  font-size: 1em;
                  font-family: 'Montserrat';
                  cursor: pointer;
                  color: var(--text_strong);
                  background: var(--background);
               }
            }
         }
            
         .movies-grid{
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            grid-column-gap: 2.2em;
            grid-row-gap: 1.5em;
            width: 100%;
            padding: 10px 0;

            .movie-card{
               display: flex;
               flex-direction: column;
               transition: transform 0.15s ease-in-out;
               position: relative;
            
            &:hover{
               transform: scale(1.05);
               z-index: 1000;
            }
               .movie-bookmark{
                  position: absolute;
                  font-size: 1.2em;
                  top: 5px;
                  filter: invert(52%) sepia(72%) saturate(440%) hue-rotate(95deg) brightness(99%) contrast(92%) drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
                  left: 7px;
                  opacity: 0;
                  transition: opacity 0.15s ease-in-out;
                  cursor: pointer;

                  .heart, .heart-full{
                     height: 25px;
                     width: 25px;
                     position: absolute;
                     transition: transform 0.15s ease-in-out;

                     &:hover{
                        transform: scale(1.1);
                     }
                  }
               }
               .movie-poster-wrapper{
                  position: relative;

                  .movie-poster{
                     width: 100%;
                     height: 100%;
                     border-radius: 3px;
                     box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
                     aspect-ratio: 10/15;
                  }

                  .rating-bar{
                     height: 3px;
                     width: 100%;
                     position: absolute;
                     bottom: 0;
                     background-color: rgb(150, 150, 150);
                     opacity: 0;
                     transition: opacity 0.15s ease-in-out;
                     border-radius: 0 0 2px 2px;

                     .rating-score{
                        height: 100%;
                        background: var(--accent);
                        opacity: 0;
                        transition: opacity 0.15s ease-in-out;
                        border-radius: 0 0 0 2px;
                     }
                  }
                  .year{
                     position: absolute;
                  }
               }
               &:hover{
                  .movie-bookmark, .rating-bar, .rating-bar .rating-score{
                     opacity: 1;
                  }
               }

               .movie-info{
                  height: 3em;
                  position: relative;
                  bottom: 4px;
                  background: transparent;
                  color: var(--text_light);
                  font-weight: 500;
                  margin-top: 16px;
                  text-transform: uppercase;
                  text-align: center;
               }
            }
         }

         .page-select{
            margin: 30px 0;
            display: flex;
            justify-content: center;

            .page-select-btn{
               cursor: pointer;
               padding: 4px 5px;
               margin: 3px;
               border: none;
               border-radius: 4px;
               background: var(--background_lighter);
               width: 28px;
               text-align: center;
               font-family: 'Montserrat';
               font-weight: 500;
               font-size: .9em;
               color: var(--text_light);
            
               &:hover{
                  background: var(--background_lighter);
                  color: var(--accent_darker);
               }
               &.active{
                  background-color: var(--accent_darker);
                  color: var(--header);
                  font-weight: 500;
               }
            }
         }
      }
   }
   footer{
      height: 70px;
      font-size: 0.8em;
      align-items: center;
      justify-content: center;
      display: flex;
      background-color: transparent;
      color: var(--text_light);
      text-align: center;
      padding: 0 20px;
   }
}

// ENTRY PAGE
@keyframes moveDetailPage {
   0% {
      transform: translateX(-4%);
   }
   100% {
      transform: translateX(0%);
   }
}

.entry-details{
   transform: scale(1);
   animation-name: moveDetailPage;
   animation-duration: 0.3s;
   transform: translateX(0%);

   @keyframes fadeBackdrop{
      0% {
         opacity: 0;
      }
      100% {
         opacity: 0.15;
      }
   }

   .backdrop-wrapper{
      position: absolute;
      height: 600px;
      width: calc(100vw - 8px);
      overflow: hidden;
      z-index: -200;
   }
   .backdrop{
      height: 102%;
      opacity: 0.15;
      filter: blur(5px);
      background-size: cover;
      animation: fadeBackdrop;
      animation-duration: 4s;
   }

   .entry-wrapper{
      display: flex;
      max-width: var(--width);
      padding: 50px var(--side_padding) 50px;
      margin: 0 auto;

      .image-wrapper{
         margin-right: 4em;
         display: flex;
         flex-direction: column;

         .poster-large{
            height: 30em;
            box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
            border-radius: 3px;
         }
         .tagline{
            margin-top: 0.7em;
            font-style: italic;
            font-size: 0.85em;
            font-weight: 500;
            color: #797979;
            text-align: center;
         }
      }

      .info{
         display: flex;
         flex-direction: column;
         padding: 1em 0;
         flex-grow: 1;
      }

      .main-info{
         display: flex;
         flex-direction: column;
         text-align: left;
         position: relative;
         min-height: 55%;
         margin-bottom: 20px;

         .rating-text{
            font-weight: 500;
            font-size: 1.1em;
            color: var(--accent);
            position: absolute;
            right: 0;
            top: 11px;
         }

         h1{
            color: var(--accent);
            font-weight: 600;
            font-size: 2em;
            margin-bottom: .3em;
            max-width: calc(100% - 70px);
            text-align: left;
         }
         .entry-meta-info{
            font-weight: 400;
            font-size: 0.9em;
            color: var(--text_light);
            display: flex;

            span{
               margin-right: 1.2em;
            }
         }
         .entry-description{
            color: var(--text_light);
            font-weight: 400;
            line-height: 1.4;
            font-size: 1.05em;
            text-align: justify;
         }
         .entry-genre-list{
            display: flex;
            flex-direction: row;
            margin: 1.2em 0;
         
            span{
               margin-right: 1em;
               background: var(--background);
               padding: 5px 8px;
               border-radius: 4px;
               font-size: 0.9em;
               font-weight: 500;
               color: var(--text_light);
            }
         }
      }

      .actions{
         margin-left: 5em;
         display: flex;
         align-items: center;
         position: relative;

         .toggle-favourites{
            position: absolute;
            top: 0;
            right: 0;
            margin: 1.3em 0;

            img{
               height: 35px;
               cursor: pointer;
               filter: var(--filter_black_to_accent);
               position: relative;
               transition: transform 0.15s ease-in-out;

               &:active{
                  transform: scale(1.25);
               }

               &:hover{
                  transform: scale(1.15);
               }
            }

         }

         ul{

            li{
               width: 36px;
               margin-bottom: 1em;

               a{
                  margin-bottom: 1em;


                  .social-media-icon{
                     filter: var(--filter_invert);
                     opacity: 0.4;
                     transition: opacity 0.1s ease-in-out;

                     &:hover{
                        opacity: 0.6;
                     }
                  }
               }
            }
         }
      }
      .production-info{
         height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         position: relative;

         .production-talent{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            text-align: left;
            
            .crew-list{
               display: flex;
               flex-direction: column;
            
               p{
                  font-weight: 500;
                  margin-bottom: 0.5em;
                  color: var(--text_strong);
               }
               span{
                  color: var(--text_light);
                  margin: 0.1em 0;
               }
            }

         }
         
         .studios{
            display: flex;
            flex-direction: row;
            position: absolute;
            bottom: 15px;

            .studio-logo{
               max-height: 18px;
               margin-right: 30px;
               filter: var(--filter_studio_invert);
               opacity: 0.4;
            }
         }
      }
   }
}
.cast-list{
   
   @keyframes fadeCastSection{
      0% {
         opacity: 0;
      }
      100% {
         opacity: 1;
      }
   }


   .cast-wrapper{
      transform: scale(1);
      animation-name: fadeCastSection;
      animation-duration: 2s;
      opacity: 1;
      max-width: var(--width);
      padding: 50px var(--side_padding) 20px;
      margin: 0 auto;

      .cast-header{
         color: var(--accent);
         text-align: left;
         font-size: 1.6em;
         font-weight: 500;
         margin-bottom: 1em;
      }

      ul{
         display: flex;
         overflow-x: auto;
         padding-bottom: 25px;

         &::-webkit-scrollbar{
            height: 6px;
         }

         li .cast-member{
            display: flex;
            flex-direction: column;
            width: 150px;
            height: 300px;
            margin-right: 10px;
            text-align: center;
            text-align: left;
            background: var(--cast_card);
            border-radius: 3px;

            img{
               width: 100%;
               border-radius: 3px 3px 0 0;
               filter: grayscale(0.4);
               height: 200px;
               object-fit: cover;
               object-position: top;
            }

            .real-name{
               color: var(--text_strong);
               font-size: 0.95em;
               font-weight: 500;
               margin: 0.7em 0 0.4em;
               padding: 0 10px;
            }
            .role-name{
               color: var(--text_light);
               font-size: 0.9em;
               font-weight: 400;
               padding: 0 10px;
            }

         }
      }
   }

}

// FAVOURITES
.favourites-wrapper{
   max-width: var(--width);
   margin: 0 auto 30px;
   padding: 0 var(--side_padding);

   .favourites{
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 50px;
      grid-gap: 6em;
      width: 100%;
      position: relative;

      .favourite-movies, .favourite-shows{
         width:  100%;
      }
      .favourite-movies{
         animation: fadeInFavourites 0.2s ease-in-out;
      }
      .favourite-shows{
         animation: fadeInFavourites 0.2s ease-in-out;
      }

      @keyframes fadeInFavourites {
         0% {
            opacity: 0;
         }
         100% {
            opacity: 1;
         }
      }
      
      .favourite-movies, .favourite-shows{

         .favourites-header{
            text-align: left;
            color: var(--accent);
            font-weight: 600;
            font-size: 1.7em;
            margin-bottom: 20px;
         }

         ul{

            li{
               position: relative;

               a{

                  .favourite-entry{
                     height: 160px;
                     background-color: gray;
                     margin-bottom: 10px;
                     transition: none;
                     border-radius: 3px;
                     background-size: 100% !important;
                     box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px, rgb(0 0 0 / 8%) 0px 0px 0px 1px;
                     position: relative;
                     transform: scale(1.00);
                     transition: transform 0.1s linear;

                     &:hover{
                        transform: scale(1.015);
                     }

                     .favourite-content{
                        height: 100%;
                        width: 100%;
                        
                        .favourite-info{
                           display: flex;
                           flex-direction: column;
                           justify-content: center;
                           text-align: left;
                           padding-left: 25px;
                           height: 100%;
                           left: 0;
                           width: 100%;
                           position: relative;
                           bottom: 5px;

                           .favourite-name{
                              color: var(--white);
                              font-size: 1.4em;
                              font-weight: 600;
                              margin-bottom: 5px;
                              position: relative;;
                              text-shadow: 0 0 10px #00000085;
                              transition: left 0.1s ease-in-out;
                              left: 0px;
                           }

                           span{
                              font-weight: 500;
                              color: #a6a6a6;
                              font-size: .95em;
                           }
                           .favourite-genre-list{
                              margin-top: 10px;
                              right: 5px;
                              font-weight: 500;
                              font-size: 0.85em;
                              position: absolute;
                              bottom: 4px;
                              left: 20px;

                              span{
                                 margin-right: 8px;
                                 padding: 2px 5px;
                                 background: rgba(5, 5, 5, 0.199);
                                 color: rgb(185, 185, 185);
                                 border-radius: 4px;
                              }
                           }
                        }

                     }
                  }
               }

               .remove-favourite{
                  height: 24px !important;
                  position: absolute;
                  top: 3px;
                  right: 3px;
                  height: 100%;
                  cursor: pointer;

                  img{
                     opacity: 0.7;
                     mix-blend-mode: difference;
                     filter: invert(1);
                     border-radius: 20px;
                     transition: transform 0.15s ease-in-out;
                     transform: scale(1);
                     
                     &:hover{
                        transform: scale(1.1);
                     }
                  }
               }
            }
         }
         
         .no-favourites{
            text-align: left;
            color: var(--text_light);
            font-size: 1.1em;
            line-height: 1.4;
         }
      }
   }
}



//VIEWPORTS
@media only screen and (max-width: 1340px) {
   .movies-grid{
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)) !important;
   }
   #app .home .movies .movies-filter .slider-wrapper #grid-size-slider, #app .home .movies .movies-filter .slider-wrapper #expand-icon{
      display: none;
   }
   .entry-details .entry-wrapper .image-wrapper .poster-large{
      height: 20em;
   }
   .entry-details .entry-wrapper .production-info .studios {
      display: none;
   }
   .entry-details .backdrop-wrapper {
      height: 500px;
   }
   .entry-details .entry-wrapper .main-info{
      min-height: auto;
      margin-bottom: 40px;
   }
   .favourites-wrapper .favourites {
      grid-gap: 3em;
   }
}

@media only screen and (max-width: 850px) {
   #app .home .movies .movies-filter .type-selection-wrapper{
      left: 0;
   }
   #app .home .movies .movies-filter .selection-title {
      opacity: 0;
   }
   .favourites-wrapper .favourites {
      grid-gap: 1em;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
   }
   .entry-details .entry-wrapper {
      flex-wrap: wrap;
   }
   .entry-details .entry-wrapper .actions{
      margin-left: 0;
      margin: 20px auto 0;
      justify-content: center;
   }
   .entry-details .entry-wrapper .actions ul li{
      margin-right: 30px;
   }
   .entry-details .entry-wrapper .actions .toggle-favourites{
      position: relative;
      top: auto;
      bottom: 10px;
      margin: 0 30px 0 0;
   }
   .entry-details .entry-wrapper .actions ul{
      display: flex;
   }
}

//SEARCH PAGE
.search-action{
   background: var(--background_lighter);

   .search-wrapper{
      max-width: var(--width);
      padding: 0 var(--side_padding);
      height: 70px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2{
         color: var(--text_strong);
         font-weight: 600;
         font-size: 1.4em;
      }

      .searchbar{
         width: 350px;
         height: 40px;
         background-color: var(--background);
         border-radius:50px;

         #searchbar-input{
            border: none;
            outline: none;
            background: none;
            height: 100%;
            padding-left: 25px;
            font-size: 1em;
            font-weight: 500;
            font-family: Montserrat, sans-serif;
            color: var(--text_strong);
            width: calc(100% - 50px);
            margin-right: 10px;
         }

         #searchbar-icon{
            height: 20px;
            position: relative;
            top: 4px;
            cursor: pointer;
         }
      }
   }
}
.search-results{
   max-width: var(--width);
   padding: 0 var(--side_padding);
   height: 100px;
   margin: 0 auto;

   .search-results-grid{
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      grid-template-rows: auto;
      grid-row-gap: 3.5em;
      grid-column-gap: 2em;
      margin-top: 30px;

      .result-card{

         a{

            .result-poster-wrapper{


               .result-poster{
                  width: 100%;
               }
            }
            .result-info{
               display: flex;
               flex-direction: column;
               position: relative;
               bottom: 4px;

               .name{
                  background-color: var(--header);
                  color: var(--white);
                  height: 50px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
               }
               .result-type{
                  background-color: var(--background_lighter);
                  color: var(--text_light);
                  text-align: center;
                  text-transform: uppercase;
                  font-weight: 500;
                  font-size: 0.8em;
                  padding: 3px 0;
               }
            }
         }
      }

   }
}